body {
  margin: 0;
  min-height: 100vh;
}

button {
  appearance: none;
}

input:focus {
  outline: none;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffd15b #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #EDEDED;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffd15b;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  #app ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  .lazy {
    background-color: #e5e7eb;
    animation: pulse 2s infinite;
  }